*{
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
}
#wrap{
    width: 100%;
    margin: 0px auto;
}
a:link 
{ 
text-decoration:none; 
} 
.fix{
	clear: both;
}
header{
    width: 100%;
    height: 50px;
    background-color: brown;

    display: table;
}
#logo img{
    float: left;
}
#logo h1{
    font-size: 17px;
    float: left;
    margin: 15px;
    color: grey;
}
.btn-menu{
    width: 50px;
    height: 50px;
    float: right;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    background-color: grey;
    font-size: 1.5em;
}
.menu{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: gray;
    top: 0px;
    left: 0px;
    display: none;
}
.menu ul{
    width: 100%;
    float: left;
    text-align: center;
    list-style: none;
}
.menu li{
    margin: 0;
    padding: 1.5%;
}
.menu a{
    font-size: 2em;
    color: #ffffff;
    padding: 1.5% 1%;
    text-decoration: none;
}
.menu li a:hover{
    border: 1px solid brown;
}
.btn-close{
    font-size: 3.0em;
    color: #ffffff;
    float: right;
    cursor: pointer;
    margin-right: 4%;
}
.imagem-1{
    width: 90%;
    margin: auto;
}
.imagem-1 img{
    width: 100%;
    height: 100%;
    padding-top: 5%;
}
.imagem-1 h2{
    font-size: 1.2em;
    padding: 0 5%;
    background: gray;
    color: white;
    margin-top: -4.5px;
}
.n-mais-lidas h3{
    text-align: center;
}
.n-mais-lidas{
    width: 90%;
    margin: 0 auto;
}
.mais-lidas{
    width: 50%;
    float: left;
}
.mais-lidas img{
    width: 96%;
    padding: 0 2%;
}
.mais-lidas h4, p{
    padding: 0 2% 2% 2%;
    font-size: 1em;
    text-align: justify;
    color: #000000;
}
.ultimas-n{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}
.cont-ultimas{
    width: 50%;
    float: left;
}
.img-ultimas{
    width: 50%;
    float: left;
}
.img-ultimas img{
    width: 100%;
}
footer{
    display: table;
	bottom: 0px;
	width: 100%;
	height: 66px;
	position: relative;
    background: brown;
}
footer p{
    text-align: center;
    font-size: 13px;
    display: table-cell;
    color: gray;
    vertical-align: middle;
}